.ICEauthority
.Xauthority
.adobe/
.bash_history
.bash_logout
.cache/
.compiz-1/
.composer/
.config/
.dbus/
.dmrc
.fontconfig/
.gconf/
.gnome2/
.goutputstream-I0SLCX
.goutputstream-KW1KBX
.goutputstream-PG8SBX
.goutputstream-T21UCX
.gstreamer-0.10/
.gtk-bookmarks
.local/
.macromedia/
.mission-control/
.mozilla/
.nv/
.pki/
.pulse-cookie
.pulse/
.rediscli_history
.rvm/
.ssh/
.steam/
.steampath
.steampid
.thumbnails/
.thunderbird/
.vagrant.d/
.xsession-errors
.xsession-errors.old
.zlogin
.zshrc
examples.desktop
images/
.viminfo
/Desktop
/Documents
/Downloads
/Pictures
/workspace
/VirtualBox VMs
.gem
.swp
/bin
/share
Skype/
.compiz/
.dia/
.dircolors
.dropbox-dist/
.dropbox/
.face
.gegl-0.0/
.gimp-2.6/
.gksu.lock
.gnupg/
.goutputstream-EE6N7W
.hplip/
.lesshst
.node-gyp/
.npm/
.pearrc
.pgadmin3
.pgadmin_histoqueries
.pgpass
.psql_history
.purple/
.rnd
.s3cfg
.xscreensaver
Dropbox/
Sublime Text 2/
Ubuntu One/
dev/
etc/
live/
pgadmin.log
redis-2.8.2/
ssh.tar.gz
sublime_text_3/
tmp/
/.Skype
